sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py
sbatch --comment "scriptq test script"  -p longq7-mri --nodelist={node} /mnt/beegfs/home/jhancoc4/git/slurm_experimenter/test_scriptq.py